.title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

body {
  overflow:hidden !important;
  font-family: "Open Sans Light", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
}

.options {
  width: 22em;
}

label {
  float: right;
}

input {
  width: 15em;
  margin: 0.5em;
  height: 2.5em;
}
